.ActiveLink {
color: blueviolet;
};

.Link {
color: rgba(137, 43, 226, 0.6);
};

.list {
margin: 0;
padding: 20px;
/* list-style: none; */
display: flex;
justify-content: space-evenly;
font-size: 26px;
};