.movieButton{
    letter-spacing: 2px;
    min-height: 30px;
    min-width: 100px;
    cursor: pointer;
    margin: 25px;
    color: teal;
    border-color: blueviolet;
}
.movieSearch{
    border-color: blueviolet;
    outline: none;
    letter-spacing: 2px;
    min-height: 30px;
    margin: 25px;
    min-width: 200px;  
}

.movieForm {
    justify-content: space-around;
    display: flex;
}